@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css";

.Site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.Site-content {
  flex: 1;
}

footer {
  padding: 1rem 1rem 1rem !important;
}

.bibtex-display::-webkit-scrollbar {
  display: none;
}

.bibtex-display {
  -ms-overflow-style: none;
  scrollbar-width: none;
}